{% extends 'basics/basic.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% include 'basics/navbar.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h3>Single Course Information</h3>
      </div>
    </div>
    <!-- End Breadcrumbs -->
    <div class="container text-center mt-4">
        {% include 'basics/messages.html' %}
    </div>

    <div class="container">
      <a href="{% url 'user_dashboard' %}" class="btn btn-success">Back</a>
    </div>

    <div class="container mt-3">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>User Profile</th>
            <img src="media/{{single.select_img.url}}">
            {% for i in data %}
            <td><img src="media/profile/{{i.select_img}}"></td>
            {% endfor %}
            <th>Student Name</th>
            <td>{{user.first_name}} {{user.last_name}}</td>
          </tr>
        </thead>
      </table>
    </div>
    </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
</div>
<br><br><br><br><br>

  {% include 'basics/footer.html' %}

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% include 'basics/javascript.html' %}

  {% endblock %}